{% extends "layout.html" %}
{% block body %}
  <h2>Search for Participants</h2>
  <form action="{{ url_for('search_participants') }}" method=post>
    <dl>
      <dt>Location:
      <dd><input type=text name=location>
      <dt>Habit:
      <dd><input type=text name=habit>
      <dt>Medication:
      <dd><input type=text name=medication>
      <dt>Medical History:
      <dd><input type=text name=med_history> 
      <dt>Sex:
      <dd><input type=text name=sex> 
      <dd><input type=submit value=Search>
    </dl>
  </form>
{% endblock %}
